.isiaLightbox-element {
  display: none;
}

@media only screen and (min-width: 320px) {
  .isiaLightbox {
    width: 60%;
    max-height: 80%;
    overflow: hidden;
    position: fixed;
    right: 20%;
    left: 20%;
    top: 10%;
    opacity: 0;
    font: 12px Arial, sans-serif;
    background-color: #fff;
    //border: 1px solid #ddd;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.7);
    z-index: 99999999;
    box-sizing: initial;

    .isiaLightbox-header {
      padding: 10px 20px 10px;
      position: relative;
      h3 {
        font-size: 20px;
        font-weight: bold;
        color: #444444;
        margin: 5px 0;
        line-height: 1;
        letter-spacing: initial;
        & > span {
          font-size: 16px;
          margin-left: 10px;
          display: inline-block;
          color: #999;
        }
      }
      & > .close {
        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px;
        position: absolute;
        padding: 5px;
        .close-icon {
          width: 13px;
          display: block;
          margin: 4px;
          cursor: pointer;
        }
      }
    }

    .isiaLightbox-content {
      padding: 10px 20px 20px;
      p {
        color: #444444;
        font-size: 14px;
        margin: 0 0 10px;
      }
    }

    .isiaLightbox-footer {
      padding: 20px;
      background-color: #ccc;
    }

    p {
      color: #444444;
      font-size: 14px;
      margin: 0;
    }
  }

  .isiaLightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    opacity: 0;
    z-index: 9999999;
  }

  .isiaLightbox-active {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
  }
}

//Animation
.isiaLightbox {
  //Lightbox Fade Out
  &.lightboxFadeOut {
    opacity: 0;
    animation: fadeOut 0.5s linear;
  }

  //Lightbox Fade In
  &.lightboxFadeIn {
    opacity: 1;
    animation: fadeIn 1s linear;
  }

  &.lightboxBounceIn {
    animation-name: bounceIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
}

.isiaLightbox-overlay {
  &.overlayHide {
    opacity: 0;
  }

  &.overlayShow {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
