a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#close2-lightbox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: orangered;
  color: white;
  border: 2px solid white;
  padding: 10px;
  z-index: 99999999;
}

#main .spotlight .content {
  max-width: 100%;
  pre {
    max-height: 300px;
  }
}


