.isiaLightbox-element {
	display: none;
}

.isiaLightbox.lightboxFadeOut {
	-webkit-animation: fadeOut .5s linear;
	animation: fadeOut .5s linear;
	opacity: 0;
}

.isiaLightbox.lightboxFadeIn {
	-webkit-animation: fadeIn 1s linear;
	animation: fadeIn 1s linear;
	opacity: 1;
}

.isiaLightbox.lightboxBounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.isiaLightbox-overlay.overlayFadeOut {
	-webkit-animation: fadeOut 1s linear;
	animation: fadeOut 1s linear;
	opacity: 0;
}

.isiaLightbox-overlay.overlayFadeIn {
	-webkit-animation: fadeIn .8s linear;
	animation: fadeIn .8s linear;
	opacity: 1;
}

@media only screen and (min-width: 320px) {

.isiaLightbox {
	font: 12px Arial, sans-serif;
	position: absolute;
	z-index: 999999;
	top: 10%;
	right: 20%;
	left: 20%;
	overflow: hidden;
	width: 60%;
	max-height: 80%;
	opacity: 0;
	background-color: #fff; /* offset-x | offset-y | blur-radius | color */
	box-shadow: 4px 4px 9px rgba(0, 0, 0, .7);
}

.isiaLightbox .isiaLightbox-header {
	position: relative;
	padding: 10px 20px 10px;
}

.isiaLightbox .isiaLightbox-header h3 {
	font-size: 16px;
	margin: 5px 0;
}

.isiaLightbox .isiaLightbox-header h3 > span {
	font-size: 12px;
	display: inline-block;
	margin-left: 10px;
	color: #999;
}

.isiaLightbox .isiaLightbox-header > .close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	padding: 5px;
}

.isiaLightbox .isiaLightbox-header > .close .close-icon {
	display: block;
	width: 13px;
	margin: 4px;
	cursor: pointer;
}

.isiaLightbox .isiaLightbox-content {
	padding: 10px 20px 20px;
}

.isiaLightbox .isiaLightbox-footer {
	padding: 10px 20px 10px;
	background-color: #ccc;
}

.isiaLightbox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 0;
	height: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, .7);
}

}

@-webkit-keyframes fadeOut {

100% {
	opacity: 0;
}

0% {
	opacity: 1;
}

}

@keyframes fadeOut {

100% {
	opacity: 0;
}

0% {
	opacity: 1;
}

}

@-webkit-keyframes fadeIn {

100% {
	opacity: 1;
}

0% {
	opacity: 0;
}

}

@keyframes fadeIn {

100% {
	opacity: 1;
}

0% {
	opacity: 0;
}

}

@-webkit-keyframes bounceIn {

0% {
	-webkit-transform: scale(.3);
	transform: scale(.3);
	opacity: 0;
}

100% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

}

@keyframes bounceIn {

0% {
	-webkit-transform: scale(.3);
	transform: scale(.3);
	opacity: 0;
}

100% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

}


body{
    background-color: aliceblue;
}